/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Philosopher', sans-serif;
	background:#DDC581;
}
/*-- main --*/
.main h1{
	text-transform:uppercase;
	font-size:2em;
	color:#fff;
	text-align:center;
	margin:0 0 2em;
	letter-spacing: 2px;
    text-shadow:1px 3px 0px #C5AA5F;
}
.main{
	padding:4em 0 3em;
	width:40%;
	margin:0 auto;
}
.ac-container label{
	padding: 8px 20px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	line-height: 33px;
	font-size: 19px;
	background:#955835;
	box-shadow:0px 0px 1px #DF9D77;
	text-shadow:1px 2px 0px #DE9063;
}
.ac-container label:hover{
	background:#e86850;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #e86850;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 12px;
	background: transparent url(../images/arrow_up.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background: url(../images/arrow_down.png) no-repeat 0px 0px;
}
.ac-container input{
	display: none;
}
.ac-container article{
	background:#fff;
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	line-height: 23px;
    font-size: 14px;
    padding: 15px 20px;
    color: #999;
    background-color: #fff;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 1040px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}
.login-form p {
    font-size: 0.9em;
    text-align: center;
    line-height: 1.9em;
    color: #fff;
    margin-top: 1em;
}
.ac-small ul{
	padding:0 0 0 2em;
	margin:1em 0 0;
	width: 90.5%;
}
.ac-small ul li{
	list-style-type: none;
    padding:0.8em 0 0.8em 2em;
    box-shadow: 0px 0px 3px #E1DCDC;
	margin:0 0 1em;
}
.ac-small ul li:hover{
	box-shadow: 0px 0px 3px #E1DCDC;
	border-left:2px solid #E86850;
}
.ac-small ul li a{
	font-size:14px;
	color:#EA4335;
	text-decoration:none;
	text-transform: capitalize;
	float: right;
    margin-right: 30px;
}
.grid1 i{
	background: url(../images/1.png) no-repeat 0px 0px;
    width: 24px;
    height: 24px;
    padding-right: 2em;
	padding-bottom: .3em;
}
.grid2 i{
	background: url(../images/2.png) no-repeat 0px 0px;
    width: 24px;
    height: 24px;
    padding-right: 2em;
	padding-bottom: .3em;
}
.grid3 i{
	background: url(../images/3.png) no-repeat 0px 0px;
    width: 24px;
    height: 24px;
    padding-right: 2em;
	padding-bottom: .3em;
}
.grid4 i{
	background: url(../images/5.png) no-repeat 0px 0px;
    width: 24px;
    height: 24px;
    padding-right: 2em;
	padding-bottom: .3em;
}
.grid5 i{
	background: url(../images/4.png) no-repeat 0px 0px;
    width: 24px;
    height: 24px;
    padding-right: 2em;
	padding-bottom: .3em;
}
.footer{
	padding:5em 0 0;
	text-align:center;
}
.footer p{
	font-size:14px;
	color:#fff;
	margin:0;
	line-height: 1.8em;
}
.footer p a{
	color:#955835;
	text-decoration:none;
}
.footer p a:hover{
	color:#fff;
}
/*-----start-responsive-design------*/
@media (max-width:1280px){
	.ac-small ul {
		width: 88.5%;
	}
}
@media (max-width:1024px){
	.main {
		width: 50%;
	}
}
@media (max-width:768px){
	.main {
		width: 65%;
	}
}
@media (max-width: 667px){
	.main {
		width: 75%;
	}
}
@media (max-width: 640px){
	.main h1 {
		font-size: 1.5em;
		margin: 0 0 1.5em;
	}
}
@media (max-width: 600px){
	.footer {
		padding: 3em 0 0;
	}
}
@media (max-width: 480px){
	.ac-container label {
		font-size: 16px;
	}
	.grid1 i,.grid2 i,.grid3 i,.grid4 i,.grid5 i {
		background-size: 50%;
	}
	.ac-small ul li {
		padding: 0.5em 0 0.5em 2em;
	}
	.ac-container input:checked ~ article.ac-small {
		height: 205px;
	}
	.ac-small ul {
		padding: 0 0 0 1.3em;
	}
}
@media (max-width:414px){
	.main {
		width: 85%;
	}
}
@media (max-width:384px){
	.main h1 {
		font-size: 1.3em;
	}
}
@media (max-width:320px){
	.main {
		padding: 2em 0 2em;
		width:90%;
	}
	.main h1 {
		font-size: 1.2em;
	}
	.ac-container label {
		font-size: 15px;
	}
	.footer {
		padding: 2em 0 0;
	}
	.footer p {
		font-size: 13px;
	}
}